.Risk-level-slider {
  margin: 0 auto;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Risk-level-slider__title {
  margin-top: 0;
  margin-bottom: 1.5em;
  color: #fff;
}

.input-range__slider {
  background-color: rgb(89, 65, 39);
  border-color: rgb(89, 65, 39);
  margin-left: -.75rem;
  margin-top: -1.15rem;
  width: 1.5rem;
  height: 1.5rem;
}

.input-range__track--active {
  background-color: rgb(89, 65, 39);
}

.input-range__track {
  height: 0.6rem;
}

.input-range > .input-range__label > .input-range__label-container {
  display: none;
}

.input-range__label-container {
  color: #fff;
  bottom: 12px;
}

@media only screen and (min-width: 768px) {
  .input-range__track {
    height: 0.3rem;
  }
  
  .input-range__slider {
    margin-left: -.5rem;
    margin-top: -.65rem;
    width: 1rem;
    height: 1rem;
  }

  .input-range__label-container {
    color: #fff;
    bottom: 0;
  }
}

@media only screen and (min-width : 1200px) {
  .Risk-level-slider {
    max-width: auto;
  }
}
