.Risk-chart-legend {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
  flex-wrap: wrap;
}

.Risk-chart-legend__item {
  margin: 5px;
  display: flex;
}

.Risk-chart-legend__item__color-ref {
  width: 30px;
  margin-right: 5px;
}

.Risk-chart-legend__item__percentage {
  font-weight: 200;
  margin-left: 5px;
  min-width: 50px;
}