.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
}

.App__risk-chart {
  max-width: 920px;
  position: relative;
  margin: 30px auto;
  width: 100%;
  flex: 1;
}

.App__risk-slider {
  background-color: rgb(17, 122, 202);
  padding: 0 30px;
  box-sizing: border-box;
  min-height: 150px;
  display: flex;
}

@media only screen and (min-width: 1200px) {
  .App {
    height: 100vh;
    flex-direction: row;
  }

  .App__risk-slider {
    min-width: 300px;
    display: block;
    padding-top: 30px;
  }
}